:root {
    --background: #004643;
    --paragraph: #abd1c6;
    --btn-text: #001e1d;
    --headline: #fffffe;
    --btn: #f9bc60;
    --tertiary: #e16162;
    --extra: #e8e4e6;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 83px;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: var(--background);
    color: var(--headline);
}

.header img {
    width: 70px;
}

.header ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.header ul a {
    text-decoration: none;
    color: var(--headline)
}

.header ul a:hover {
    color: var(--paragraph)
}

.intro {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    padding: 16px;
    gap: 8px;
    background-color: var(--background);
    color: var(--headline);
}

.intro p {
    color: var(--paragraph);
}

.intro button {
    background-color: var(--background);
    color: var(--headline);
    border: none;
    width: 100px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
}

.intro button:hover {
    background-color: var(--btn);
    color: var(--btn-text);
    border: none;
}

.intro figure {
    text-align: center;
    color: var(--paragraph);
    font-size: 12px;
}

.intro figure a {
    text-decoration: none;
    color: var(--paragraph);
}

.intro figure a:hover {
    color: var(--headline);
}

.intro-img {
    width: 400px;
    height: auto;
    border-radius: 10%;
}

.section-2 {
    padding: 32px;
    width: 100%;
}

.section-2 h2 {
    text-align: center;
    margin-bottom: 50px;
}

.section-2 .cars {
    display: flex;
    flex-shrink: 1;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 16px;
}

.section-2 .cars img {
    height: 150px;
    width: 200px;
    border-radius: 5%;
}

.quote {
    background-color: var(--btn);
    padding: 32px;
    text-align: center;
}

.quote p {
    text-align: right;
}

.section-4 .holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 64px;
    padding: 16px;
    background-color: var(--background);
    color: var(--headline);
}

.section-4 button {
    background-color: var(--btn);
    color: var(--btn-text);
    border: none;
    width: 150px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
}

.section-4 button:hover {
    background-color: var(--paragraph);
    border: none;
    border-radius: 5px;
}

.footer {
    text-align: center;
    background-color: var(--background);
    color: var(--headline);
    font-size: 12px;
}

.credits {
    color: var(--paragraph);
}

.credits a {
    text-decoration: none;
    color: var(--paragraph);
}
.credits a:hover {
    color: var(--headline);
}