:root {
    --background: #004643;
    --paragraph: #abd1c6;
    --btn-text: #001e1d;
    --headline: #fffffe;
    --btn: #f9bc60;
    --tertiary: #e16162;
    --extra: #e8e4e6;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 83px;
    position: fixed;
    width: 100%;
    height: auto;
    background-color: var(--background);
    color: var(--headline);
}

.header img {
    width: 70px;
}

.header ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    font-size: 24px;
    font-family: "girassol", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header ul a {
    text-decoration: none;
    color: var(--headline)
}

.header ul a:hover {
    color: var(--paragraph)
}

.intro {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    padding: 40px;
    gap: 8px;
    background-color: var(--background);
    color: var(--headline);
}

.intro h1 {
    font-size: 48px;
    font-family: "amaranth", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.intro p {
    color: var(--paragraph);
    font-size: 18px;
    font-family: "eb-garamond", serif;
    font-weight: 400;
    font-style: normal;
}

.intro button {
    background-color: var(--background);
    color: var(--headline);
    border: none;
    width: 120px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 24px;
    font-family: "girassol", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.intro button:hover {
    background-color: var(--btn);
    color: var(--btn-text);
    border: none;
}

.intro figure {
    text-align: center;
    color: var(--paragraph);
    font-size: 14px;
    font-family: "eb-garamond", serif;
    font-weight: 400;
    font-style: normal;
}

.intro figure a {
    text-decoration: none;
    color: var(--paragraph);
}

.intro figure a:hover {
    color: var(--headline);
}

.intro-img {
    width: 500px;
    height: auto;
    border-radius: 10%;
}

.product {
    padding: 32px;
    width: 100%;
}

.product h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;
    font-family: "girassol", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.product .cars {
    display: flex;
    flex-shrink: 1;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 16px;
}

.product .cars img {
    height: 230px;
    width: 250px;
    border-radius: 5%;
}

.product p {
    font-size: 18px;
    font-family: "faustina", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.quote {
    background-color: var(--btn);
    padding: 64px 32px;
    text-align: center;
}

.quote blockquote {
    font-size: 40px;
    font-family: cabin-sketch-bold, sans-serif;
}

.quote p {
    text-align: right;
    font-family: "eb-garamond", serif;
    font-weight: 400;
    font-style: normal;
}

.section-4 .holder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 72px 80px;
    padding: 16px;
    background-color: var(--background);
    color: var(--headline);
}

.section-4 h3 {
    font-size: 24px;
    font-family: "amaranth", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.section-4 p {
    font-size: 18px;
    font-family: "eb-garamond", serif;
    font-weight: 400;
    font-style: normal;
}

.section-4 button {
    background-color: var(--btn);
    color: var(--btn-text);
    border: none;
    width: 150px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 24px;
    font-family: "girassol", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.section-4 button:hover {
    background-color: var(--paragraph);
    border: none;
    border-radius: 5px;
}

.footer {
    text-align: center;
    background-color: var(--background);
    color: var(--headline);
    font-size: 14px;
    font-family: "eb-garamond", serif;
    font-weight: 400;
    font-style: normal;
}

.footer .copyright {
    font-size: 16px;
}

.credits {
    color: var(--paragraph);
}

.credits a {
    text-decoration: none;
    color: var(--paragraph);
}
.credits a:hover {
    color: var(--headline);
}